@import "../../_globalColor";

.dark-mood{
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
  // height: 100vh;
  // overflow: hidden;
}
.dark-mood-other{
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
  // overflow: hidden;
}
